body {
    background-color: gray;
    overflow: hidden;
}

.container-cover {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}

.selection-container {
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: teal;
}

.item-container {
    display: flex;
    float: left;
    margin-top: 75px;
    margin-left: 50px;
    width: auto;
    height: 400px;
    flex-direction: column;
}

.selection-button {
    min-width: 200px;
    min-height: 60px;
    outline-color: transparent;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
}

.selection-button:hover {
    background-color: black;
    -webkit-text-fill-color: white;
}

.welcome-label {
    display: flex;
    position: absolute;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
    justify-content: center;
}

hr {
    position: absolute;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}