.body {
    -fx-background-color: darkred;
}

body {
    -fx-background-color: red;
}

.label {
    -fx-background-color: #620000;
    -fx-border-radius: 3 3 3 3;
    -fx-background-radius: 3 3 3 3;
    -fx-text-fill: teal;
}

.root {
    -fx-background-color: #2e7f44;
}

.button {
    -fx-background-color: teal;
    -fx-border-width: 0px;
    -fx-border-radius: 2 2 2 2;
    -fx-background-radius: 2 2 2 2;
    -fx-text-fill: #273d4e;
}

.button:hover {
    -fx-background-color: #aca4f3;
}

#textDivField {
    -fx-max-width: 35px;
    -fx-border-color: none;
}

#confirmButton {
    -fx-max-height: 22px;
    -fx-font-weight: bold;
}

#BracketSetupP1 {
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-background-color: #353d7b;
}

#finalConf {
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
    -fx-background-color: #998eff;
}

#finalConf:hover {
    -fx-background-color: #ee7c71;
}